-
  const infoCards = [
    { title: 'Книги', alt: 'Книги',
      text: 'Наши книги не стоит воспринимать как учебные пособия, а скорее, как интересное чтение для тех, кто любит дайвинг, путешествия и подводный мир. Читайте с удовольствием!',
      link: 'Смотреть книги',
      href: 'books'
    },
    { title: 'Подарки', alt: 'Подарки',
      text: 'Устали дарить ежедневники и конфеты?! Есть яркое и свежее решение! Приезжайте за романтичными дайвинг-подарками к нам! Вы всегда можете выбрать необычный подарок своим близким.',
      link: 'Смотреть подарки',
      href: 'gifts'
    },
    { title: 'Сервис центр', alt: 'Снаряжение для дайвинга',
      text: 'Проведите осмотр снаряжения на наличие грязи внутри регулятора, BCD (жилета-компенсатора плавучести), целостность гидрокостюма. Регулярная и своевременная проверка, обслуживание и ремонт снаряжения.',
      link: 'Перейти',
      href: '#'
    }
  ];

section.section.info
  .container.info__container
    for card, index in infoCards
      .info__cards-block
        h3.third-title.numbered-title.info__title= card.title
        .info__card
          .info__card-img-block
            picture
              source(srcset=`./images/index/info-${index + 1}.webp, ./images/index/info-${index + 1}@2x.webp 2x`, type="image/webp")
              img.info__card-img(class=`info__card-img-${index + 1}`, src=`./images/index/info-${index + 1}.png`, srcset=`./images/index/info-${index + 1}@2x.png 2x`, alt=`${card.alt}`, loading="lazy")
          .info__card-text= card.text
          if card.title == 'Сервис центр'
            .info__card-bottom
              a.link-btn.info__card-link.info__card-service-link(href=`./${card.href}.html`)= card.link
              button.btn-reset.btn.info__card-btn(type='button') Оставить заявку
          else
            a.link-btn.info__card-link(href=`./${card.href}.html`)= card.link
