-
  const reportsCards = [
    {src: "./images/index/reports-1", type: "image", dataValue: "reports-tab-2"},
    {src: "./images/index/reports-2", type: "video",
      dataSrc: "https://www.youtube.com/embed/agdEOQiNfkc?si=J17C6Gob5ckhAEA3?rel=0&showinfo=0&autoplay=1",
      dataValue: "reports-tab-3",
    },
    {src: "./images/index/reports-3", type: "image", dataValue: "reports-tab-1"},
    {src: "./images/index/reports-4", type: "image", dataValue: "reports-tab-4"},
    {src: "./images/index/reports-5", type: "video",
      dataSrc: "https://www.youtube.com/embed/agdEOQiNfkc?si=J17C6Gob5ckhAEA3?rel=0&showinfo=0&autoplay=1",
      dataValue: "reports-tab-5",
    },
    {src: "./images/index/reports-6", type: "image", dataValue: "reports-tab-3"},
    {src: "./images/index/reports-7", type: "video",
      dataSrc: "https://www.youtube.com/embed/agdEOQiNfkc?si=J17C6Gob5ckhAEA3?rel=0&showinfo=0&autoplay=1",
      dataValue: "reports-tab-2",
    },
    {src: "./images/index/reports-8", type: "image", dataValue: "reports-tab-1"},
    {src: "./images/index/reports-9", type: "image", dataValue: "reports-tab-5"},
    {src: "./images/index/reports-10", type: "video",
      dataSrc: "https://www.youtube.com/embed/agdEOQiNfkc?si=J17C6Gob5ckhAEA3?rel=0&showinfo=0&autoplay=1",
      dataValue: "reports-tab-1",
    },
    {src: "./images/index/reports-1", type: "image", dataValue: "reports-tab-2"},
    {src: "./images/index/reports-2", type: "video",
      dataSrc: "https://www.youtube.com/embed/agdEOQiNfkc?si=J17C6Gob5ckhAEA3?rel=0&showinfo=0&autoplay=1",
      dataValue: "reports-tab-3",
    },
    {src: "./images/index/reports-3", type: "image", dataValue: "reports-tab-1"},
    {src: "./images/index/reports-4", type: "image", dataValue: "reports-tab-4"},
    {src: "./images/index/reports-5", type: "video",
      dataSrc: "https://www.youtube.com/embed/agdEOQiNfkc?si=J17C6Gob5ckhAEA3?rel=0&showinfo=0&autoplay=1",
      dataValue: "reports-tab-5",
    },
    {src: "./images/index/reports-6", type: "image", dataValue: "reports-tab-3"},
    {src: "./images/index/reports-7", type: "video",
      dataSrc: "https://www.youtube.com/embed/agdEOQiNfkc?si=J17C6Gob5ckhAEA3?rel=0&showinfo=0&autoplay=1",
      dataValue: "reports-tab-2",
    },
    {src: "./images/index/reports-8", type: "image", dataValue: "reports-tab-1"},
    {src: "./images/index/reports-9", type: "image", dataValue: "reports-tab-5"},
    {src: "./images/index/reports-10", type: "video",
      dataSrc: "https://www.youtube.com/embed/agdEOQiNfkc?si=J17C6Gob5ckhAEA3?rel=0&showinfo=0&autoplay=1",
      dataValue: "reports-tab-1",
    }
  ];

section.section.reports
  .container
    h3.third-title.numbered-title.reports__title Фото и видео репортажи
    .text.reports__text Наша команда профессиональных инструкторов и гидов обеспечит вам безопасность и комфорт во время каждого погружения.
  .container-fluid.reports__container-fluid
    .reports__btns
      ul.list-reset.reports__list
        for item, index in ['Все', 'Фото', 'Видео']
          li
            button.btn-reset.btn.reports__btn(class=(index === 0) ? 'reports__btn--active' : '', type='button', data-type=(index === 0) ? 'reports-list-all' : `reports-list-tab-${index}`)= item
      .swiper.mobile-swiper.reports__swiper(data-mobile="false")
        .swiper-wrapper.reports__swiper-wrapper
          for value, index in ['Путешествия к большим животным', 'Дайвинг сафари', 'Экотуризм', 'Дайвинг в России', 'Корпоративные программы']
            .swiper-slide.reports__swiper-slide
              button.btn-reset.btn.reports__btn(type="button", data-tab=`reports-tab-${index + 1}`)= value
  .container
    .reports__cards-block.more-cards-block
      for card, index in reportsCards
        if card.type == "image"
          .reports__card(class=(index >= 10) ? 'none' : '', data-tab-value=`reports-list-tab-1 ${card.dataValue}`)
            picture
              source(srcset=`${card.src}.webp`, type="image/webp")
              img(src=`${card.src}.jpg`, alt="Дайвинг", loading="lazy")
        else if card.type == "video"
          .reports__card.video(class=(index >= 10) ? 'none' : '', data-tab-value=`reports-list-tab-2 ${card.dataValue}`)
            .video__container
              picture.video__bg
                source(srcset=`${card.src}.webp`, type="image/webp")
                img(src=`${card.src}.jpg`, alt="Дайвинг", loading="lazy")
              .video__body
                .video__content(data-src=card.dataSrc)
              button.btn-reset.video__play-btn(type="button", aria-label="Начать просмотр видео")
                svg
                  use(href="./images/sprite.svg#pleer")
    button.btn-reset.transparent-btn.reports__more-btn.more-btn(type="button") Загрузить еще

