-
  const toursTabs = [
    {
      title: 'Горячие туры',
      class: 'tabs__btn--active'
    },
    {
      title: 'Дайвинг курсы',
    },
  ];
  const toursTab = [
    {
      title: 'tours',
      class: 'tab--active',
      cards: [
        {date: "21 сентября — 1 октября", title: "Дейли-дайвинг на Бали: в поисках мола-мола"},
        {date: "6 октября — 11 октября", title: "Дайвинг на Голубом озере Церик-Кёль"},
        {date: "28 октября – 5 ноября", title: "Дайвинг с акулами и мантами на Мальдивах"},
        {date: "4 ноября – 11 ноября", title: "Дайвинг-сафари в Египте: острова Бразерс"},
        {date: "6 ноября — 17 ноября", title: "Сеноты Юкатана, наземные экскурсии в городе майя"},
        {date: "18 ноября — 4 декабря", title: "Наблюдения за королевскими и золотоволосыми пингвинами"},
        {date: "24 ноября – 3 декабря", title: "Пуэрто Галера, остров Верде. Макромир. Ночные погружения"},
        {date: "2 декабря – 9 декабря", title: 'Морские нацпарки Рас Мохаммед и Тиран, рэк "Тистлегорм"'}
      ],
      href: './schedule.html',
      link: 'Все туры',
    },
    {
      title: 'tours',
      cards: [
        {date: "Пн. 30 октября", title: "Junior Open Water Diver (с 10 лет)"},
        {date: "Пн. 30 октября", title: "Divemaster"},
        {date: "Пн. 30 октября", title: "Enriched Air Diver"},
        {date: "Пн. 30 октября", title: "Junior Advanced Open Water Diver"},
        {date: "Пн. 30 октября", title: "Emergency First Response"},
        {date: "Пн. 30 октября", title: "Junior Open Water Diver (с 10 лет)"},
        {date: "Пн. 30 октября", title: "Divemaster"},
        {date: "Пн. 30 октября", title: "Enriched Air Diver"},
      ],
      href: './courses.html',
      link: 'Все курсы',
    },
  ];

section.section-top.tours.tabs-block
  .tours__container-fluid
    .tours__tabs
      .tours__tabs-btns.tabs
        for tabs, index in toursTabs
          h3.third-title.numbered-title.tours__tabs-title
            button.btn-reset.tabs__btn.tours__btn(class=tabs.class type="button" data-tab=`tours-tab-${index + 1}`)= tabs.title
  for tab, index in toursTab
    .tours__tab.tab(class=tab.class id=`tours-tab-${index + 1}`)
      .container
        .tours__tab-container
          for card, index in tab.cards
            .tours__tab-card
              .tours__tab-card-img-block
                picture
                  source(media='(max-width:480px)' srcset=`./images/index/tours-480-${index + 1}.webp, ./images/index/tours-480-${index + 1}@2x.webp 2x` type="image/webp")
                  source(media='(max-width:480px)' srcset=`./images/index/tours-480-${index + 1}.png, ./images/index/tours-480-${index + 1}@2x.png 2x`)
                  source(srcset=`./images/index/tours-${index + 1}.webp, ./images/index/tours-${index + 1}@2x.webp 2x` type="image/webp")
                  img(src=`./images/index/tours-${index + 1}.png` srcset=`./images/index/tours-${index + 1}@2x.png 2x` alt="Дайвинг" loading="lazy")
                .tours__tab-card-sticker=card.date
              .tours__tab-card-title=card.title
        a.link-btn.tours__tabs-link(href=tab.href)= tab.link
