mixin slider(folder, name, slides)
  for slide, index in slides
    .swiper-slide(class=name + '__swiper-slide')
      div(class=name + '__card')
        div(class=name + '__card-img-block')
          picture
            source(srcset=`./images/${folder}/${name}-${index + 1}.webp, ./images/${folder}/${name}-${index + 1}@2x.webp 2x`, type="image/webp")
            img(src=`./images/${folder}/${name}-${index + 1}.png`, srcset=`./images/${folder}/${name}-${index + 1}@2x.png 2x`, alt="Фото", loading="lazy")
        if name == 'blog'
          .blog__date-block
            svg.blog__calendar
              use(href="./images/sprite.svg#calendar")
            span.blog__card-date= slide.date
          .blog__card-title= slide.title
          a.link-btn.blog__card-link(class=slide.class href=`./${slide.href}.html`) Читать
