-
  const tourismInfoCards = [
    { title: 'Отзывы', alt: 'Фото',
      link: 'Смотреть отзывы',
      href: 'tourism'
    },
    { title: 'Фоторепортажи', alt: 'Фото',
      link: 'Смотреть фото',
      href: 'tourism'
    }
  ];

section.section-bottom.tourism-info
  .container.tourism-info__container
    for card, index in tourismInfoCards
      .tourism-info__cards-block
        h3.third-title.numbered-title.tourism-info__title= card.title
        .tourism-info__card
          .tourism-info__card-img-block
            picture
              source(srcset=`./images/tourism/tourism-info-${index + 1}.webp`, type="image/webp")
              img(src=`./images/tourism/tourism-info-${index + 1}.png`, alt=`${card.alt}` loading="lazy")
          a.link-btn.tourism-info__card-link(href=`./${card.href}.html`)= card.link
