-
  const list = [
    {title: 'Адрес', text: 'Центр дизайна ARTPLAY, здание 9, этаж 3, пространство № 335', icon: 'pin'},
    {title: 'Юридический адрес', text: '105120, г. Москва, ул. Нижняя Сыромятническая, д. 10, строение 9, офис 335', icon: 'pin'},
    {title: 'Часы работы', text: 'Понедельник — пятница: 10:00-21:00. Суббота — воскресенье: дежурный на телефоне +7 (495) 925-77-99, вотсап: 8 (916) 805-77-99', icon: 'time'},
  ];

section.section.office
  .container
    h3.third-title.numbered-title.office__title Центральный офис
    .text.text-block.office__text Центральный офис находится в пешей доступности от двух станций метро — "Курская" и "Чкаловская", станции "Курская" МЦД-2 и в 11 минутах от Курского вокзала. В офисе сотрудники RuDIVE помогут решить любые&nbsp;
      a.policy-link.office__link(href="./schedule.html") вопросы, касающиеся путешествий
      |,&nbsp;
      a.policy-link.office__link(href="./courses.html") обучения дайвингу
      |, приобретения лог-буков, учебников и книг на подводную тематику, получить свой дайвинг-сертификат. Мы храним ваши пластиковые сертификаты, даже если вы их не забрали несколько лет назад. Приезжайте за ними!
    .office__inner
      .office__inner-left
        for index in [1, 2, 3, 4]
          .office__img-block
            picture
              source(srcset=`./images/about/office-${index}.webp, ./images/about/office-${index}@2x.webp 2x`, type="image/webp")
              img(src=`./images/about/office-${index}.png`, srcset=`./images/about/office-${index}@2x.png 2x`, alt="Фото" loading="lazy")
      .office__inner-right
        .office__map-block
          .office__map
            iframe.office__map-iframe(src="https://yandex.ru/map-widget/v1/?ll=37.667734%2C55.752886&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjcxMzc4MxJZ0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINCd0LjQttC90Y_RjyDQodGL0YDQvtC80Y_RgtC90LjRh9C10YHQutCw0Y8g0YPQu9C40YbQsCwgMTDRgTkiCg3DqxZCFfQCX0I%2C&z=16.43", allowfullscreen title="Яндекс Карта")
        ul.list-reset.office__list
          for item in list
            li.office__item
              .office__item-title-block
                svg
                  use(href=`./images/sprite.svg#${item.icon}`)
                span.office__item-title= item.title
              span.office__item-text= item.text
