-
  const centersCards = [
    {alt: 'Центр "Азовский"', title: 'Азовский', address: 'ул. Азовская 24', href: '#'},
    {alt: 'Центр "Лодочная"', title: 'Лодочная', address: 'ул. Лодочная 43', href: '#'},
    {alt: 'Центр "Москвариум"', title: 'Москвариум', address: 'Проспект Мира 119, стр. 23', href: '#'},
    {alt: 'Центр "Крокус Сити"', title: 'Крокус Сити', address: '66-й км МКАД, Крокус-Сити', href: '#'},
    {alt: 'Центр "Спас-Каменка"', title: 'Спас-Каменка', address: 'Дмитровский р-н, Моск.обл.', href: '#'},
    {alt: 'Центр "Полярный круг"', title: 'Полярный круг', address: 'республика Карелия', href: '#'},
    {alt: 'Центр "Мрия"', title: 'Мрия', address: 'республика Крым', href: '#'},
    {alt: 'Центр "Монерон"', title: 'Монерон', address: 'Сахалинская обл., о. Монерон', href: '#'},
    {alt: 'Центр "Северный полюс"', title: 'Северный полюс', address: 'Северный полюс', href: '#'},
  ]
section.section.centers
  .container
    h3.third-title.page-third-title.centers__title Обучение дайвингу проводится в собственных дайвинг-центрах RuDIVE
    .centers__text в разных округах Москвы, в Подмосковье, Карелии, в Крыму и на Сахалине, а также в клубных поездках с турлидером-инструктором по всему миру.
    .centers__cards-block
      for card, index in centersCards
          .centers__card
            a.link.centers__card-img-link(href=`./${card.href}.html`)
              .centers__card-img-block
                picture
                  source(srcset=`./images/centers-${index + 1}.webp`, type="image/webp")
                  img(src=`./images/centers-${index + 1}.jpg`, alt=card.alt)
            a.link.centers__card-title-link(href=`./${card.href}.html`)= card.title
            .centers__address-block
              svg
                use(href="./images/sprite.svg#pin")
              span.centers__card-address= card.address

