-
  const contactsCentersRegion = [
    {
      name: 'Дайв-центр «Cпас-Каменка»',
      address: 'Подмосковье, Спас-Каменка, Дмитровский район',
      src: 'https://yandex.ru/map-widget/v1/?ll=37.456509%2C56.148097&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1MzA2MDIzNBKPAdCg0L7RgdGB0LjRjywg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsINCU0LzQuNGC0YDQvtCy0YHQutC40Lkg0LPQvtGA0L7QtNGB0LrQvtC5INC-0LrRgNGD0LMsINC00LXRgNC10LLQvdGPINCh0L_QsNGBLdCa0LDQvNC10L3QutCwIgoN59UVQhVvmmBC&z=14.3',
    },
  ];
-
  const contactsRegion = [
    {
      route: [
        {
          title: 'от ст. м. "Алтуфьево": ',
          text: 'Первый вагон из центра, направо, затем налево. Маршрутка №270 до поворота на Спас-Каменку.',
        },
        {
          title: 'С собой ',
          text: 'нужно взять лог-бук и сертификаты.',
        },
      ],
      time: 'По выходным в летний и зимний сезоны, заезд начинается вечером пятницы.',
      phone: '+7 (916) 925-77-99'
    },
  ]

.diving-centers.contacts-offices
  .diving-centers__block.contacts-offices__block
    .diving-centers__location.contacts-offices__location
      span.diving-centers__title Дайв-центры в Подмосковье
      .diving-centers__location-list.contacts-offices__location-list
        ul.list-reset.diving-centers__location-list-inner
          for item, index in contactsCentersRegion
            li.diving-centers__location-item.diving-centers__location-item--active
              button.btn-reset.transparent-btn.diving-centers__location-btn.diving-centers__location-btn--active.contacts-offices__btn(data-loc='location-2', data-src=item.src)
                span.diving-centers__location-title= item.name
                span.diving-centers__location-address= item.address
    .diving-centers__map-block.contacts-offices__map-block
      .diving-centers__map
    .diving-centers__about.contacts-offices__about
      for item, index in contactsRegion
        .diving-centers__about-text.contacts-offices__about-content.diving-centers__about-text--active(data-loc-text='location-2')
          for route in item.route
            .contacts-offices__route
              span.contacts-offices__about-title= route.title
              span.contacts-offices__about-text= route.text
          .contacts-offices__time
            span.contacts-offices__about-title Часы работы:&nbsp;
            span.contacts-offices__about-text= item.time
          .contacts-offices__phone
            span.contacts-offices__about-title Тел.:&nbsp;
            span.contacts-offices__about-text= item.phone
