-
  const contactsCentersKarelia = [
    {
      title: 'Дайвинг в Карелии',
      list: [
        {
          classItem: 'centers__location-item--active',
          classBtn: 'centers__location-btn--active',
          name: 'Компания «Полярный круг»',
          address: 'Республика Карелия, Лоухский р-н, п.г.т. Чупа, ул. Пионерская, д. 50, пом. 23',
          src: 'https://yandex.ru/map-widget/v1/?ll=33.047681%2C66.269956&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNTA2NTk0NDQ1EqoB0KDQvtGB0YHQuNGPLCDQoNC10YHQv9GD0LHQu9C40LrQsCDQmtCw0YDQtdC70LjRjywg0JvQvtGD0YXRgdC60LjQuSDRgNCw0LnQvtC9LCDQv9C-0YHRkdC70L7QuiDQs9C-0YDQvtC00YHQutC-0LPQviDRgtC40L_QsCDQp9GD0L_QsCwg0J_QuNC-0L3QtdGA0YHQutCw0Y8g0YPQu9C40YbQsCwgNTAiCg3TMARCFTiKhEI%2C&z=16.43',
        },
      ],
    },
  ];
  const contactsKarelia = [
    {
      route: [
        {
          title: 'Расположение ',
          text: 'в деревне Нильмогуба в устье реки Нильма',
        },
      ],
      time: 'Туры по предварительной записи',
      phone: '+7 (925) 381-22-43',
      class: 'centers__about-text--active',
    },
  ]

.centers.contacts-offices
  .centers__block.contacts-offices__block
    for item in contactsCentersKarelia
      +centersListBlock('contacts-offices', item)
      .centers__map-block.contacts-offices__map-block
        .centers__map
      .centers__about.contacts-offices__about
        for item, index in contactsKarelia
          .centers__about-text.contacts-offices__about-content(class=item.class data-loc-text=`location-${index + 1}`)
            for route in item.route
              .contacts-offices__route
                span.contacts-offices__about-title= route.title
                span.contacts-offices__about-text= route.text
            .contacts-offices__time
              span.contacts-offices__about-title Часы работы:&nbsp;
              span.contacts-offices__about-text= item.time
            .contacts-offices__phone
              span.contacts-offices__about-title Тел.:&nbsp;
              span.contacts-offices__about-text= item.phone
