-
  const contactsCentersKarelia = [
    {
      name: 'Компания «Полярный круг»',
      address: 'Республика Карелия, Лоухский р-н, п.г.т. Чупа, ул. Пионерская, д. 50, пом. 23',
      src: 'https://yandex.ru/map-widget/v1/?ll=33.047681%2C66.269956&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNTA2NTk0NDQ1EqoB0KDQvtGB0YHQuNGPLCDQoNC10YHQv9GD0LHQu9C40LrQsCDQmtCw0YDQtdC70LjRjywg0JvQvtGD0YXRgdC60LjQuSDRgNCw0LnQvtC9LCDQv9C-0YHRkdC70L7QuiDQs9C-0YDQvtC00YHQutC-0LPQviDRgtC40L_QsCDQp9GD0L_QsCwg0J_QuNC-0L3QtdGA0YHQutCw0Y8g0YPQu9C40YbQsCwgNTAiCg3TMARCFTiKhEI%2C&z=16.43',
    },
  ];
-
  const contactsKarelia = [
    {
      route: [
        {
          title: 'Расположение ',
          text: 'в деревне Нильмогуба в устье реки Нильма',
        },
      ],
      time: 'Туры по предварительной записи',
      phone: '+7 (925) 381-22-43'
    },
  ]

.diving-centers.contacts-offices
  .diving-centers__block.contacts-offices__block
    .diving-centers__location.contacts-offices__location
      span.diving-centers__title Дайвинг в Карелии
      .diving-centers__location-list.contacts-offices__location-list
        ul.list-reset.diving-centers__location-list-inner
          for item, index in contactsCentersKarelia
            li.diving-centers__location-item.diving-centers__location-item--active
              button.btn-reset.transparent-btn.diving-centers__location-btn.diving-centers__location-btn--active.contacts-offices__btn(data-loc='location-2', data-src=item.src)
                span.diving-centers__location-title= item.name
                span.diving-centers__location-address= item.address
    .diving-centers__map-block.contacts-offices__map-block
      .diving-centers__map
    .diving-centers__about.contacts-offices__about
      for item, index in contactsKarelia
        .diving-centers__about-text.contacts-offices__about-content.diving-centers__about-text--active(data-loc-text='location-2')
          for route in item.route
            .contacts-offices__route
              span.contacts-offices__about-title= route.title
              span.contacts-offices__about-text= route.text
          .contacts-offices__time
            span.contacts-offices__about-title Часы работы:&nbsp;
            span.contacts-offices__about-text= item.time
          .contacts-offices__phone
            span.contacts-offices__about-title Тел.:&nbsp;
            span.contacts-offices__about-text= item.phone
