section.section.history
  .container
    h3.third-title.numbered-title.history__title История группы компаний RuDIVE
    .history__top
      .history__text
        .history__paragraph История группы компаний RuDIVE уходит корнями в восьмидесятые годы прошлого века, когда ее создатели Дмитрий Орлов и Михаил Сафонов заканчивали школу и мечтали о погружениях с аквалангом и путешествиях в дальние страны. Оба поступили на биологический факультет МГУ, на кафедру зоологии беспозвоночных. В те времена эта кафедра была самой водолазной кафедрой страны, а ее выпускники составляли костяк российского сообщества научных водолазов-биологов: их можно было встретить в Баренцевом и Белом морях, на Дальнем Востоке и Камчатке, на Командорах и Курилах. На допотопном советском оборудовании, в холодной воде и спартанских условиях, они умудрялись собирать уникальный научный материал. После окончания водолазной школы при ЦМК ДОСААФ Дмитрий и Михаил стали водолазами 3 класса и получили право погружаться в советских научных экспедициях и на биологических станциях СССР.
        .history__bold-paragraph В начале девяностых страна претерпевала экономические и политические катаклизмы, российская наука задыхалась в нищете, многие коллеги уехали за рубеж или ушли в бизнес, а группа молодых морских биологов упорно занималась наукой, зарабатывая на хлеб и на подводные экспедиции, кто чем может.
      .history__right-images
        for value, index in {'1': 'vertical', '2': 'horizontal', '3': 'horizontal'}
          div(class=`history__right-${value}-img-block`)
            picture
              source(srcset=`./images/history-top-${index}.webp`, type="image/webp")
              img(src=`./images/history-top-${index}.jpg`, alt="Фото")
      .history__left-images
        for value, index in {'4': 'vertical', '5': 'vertical', '6': 'horizontal'}
          div(class=`history__left-${value}-img-block`)
            picture
              source(srcset=`./images/history-top-${index}.webp`, type="image/webp")
              img(src=`./images/history-top-${index}.jpg`, alt="Фото")
      .history__text
        .history__paragraph После возвращения со службы в армии и открытия границ, Дмитрий Орлов активно путешествует по миру и знакомится с дайвингом – новым для отечественных водолазов явлением. В начале девяностых дайвинга, то есть подводного отдыха, в нашей стране еще не было: ныряли только боевые пловцы, спортсмены ДОСААФ, ученые и водолазы. Понимание того, что плавать под водой может любой здоровый человек, стало настоящим откровением. Именно тогда зародилось желание заниматься именно дайвингом и сделать его доступным для всех, кто хочет увидеть красоту подводного мира своими глазами.
        .history__paragraph В 1994 году Дмитрий Орлов защищает кандидатскую диссертацию, а в 1995 г. становится одним из первых в России дайвинг-инструкторов и начинает в свободное от занятий наукой и преподаванием в МГУ время обучать дайвингу знакомых и коллег. В 1996 г. Михаил Сафонов защищает кандидатскую диссертацию, а весной того же года товарищи решают создать подводный клуб. Вечером 12 апреля 1996 г. в одной из аудиторий биологического факультета, при поддержке университетского руководства, состоялась скромная презентация Подводного клуба МГУ. Уже тогда были заложены отличительные черты образования в группе RuDIVE: высокое качество обучения, строгое следование международным стандартам, углубленное изучение морских животных и подводного мира, создание дружеской и веселой атмосферы во время педагогического процесса.
    .history__middle
      h4.fourth-title.history__block-title В 1997 г. основатели Клуба становятся инструкторами PADI и переходят на обучение по новой системе, зарегистрировав дайв-центр PADI № 3564
      .history__middle-content
        .history__text
          .history__paragraph Клуб начинает организовывать туристические поездки и экспедиции на Красное и Белое моря. В 2000 г. происходит деление клуба на отделы обучения, туризма и торговли, а в 2001 г. различные направления деятельности клуба выделяются в специализированные компании.
          .history__paragraph Вместе с бурным ростом основных видов деятельности, рождались новые компании, гармонично дополняющие молодой холдинг. В 1999 г. был создан журнал "Подводный клуб", успешно издаваемый в течение пяти лет и проданный "в хорошие руки" летом 2005 г. Тогда же, в 1999 г., у Академии наук РФ было приобретено научно-исследовательское судно "Картеш" для дайвинг-сафари на Русском Севере и подводных экспедиций по всему миру. В 2003 г. посреди тайги на берегу Белого моря был построен "сказочный городок" – дайвинг-курорт "Полярный круг". Он стал не только центром паломничества любителей подледного дайвинга со всего мира, но и любимым местом летнего семейного и корпоративного отдыха.
        .history__text
          .history__paragraph Страсть основателей и руководителей Клуба к путешествиям нашла свое выражение в уникальной экспедиционной деятельности Клуба. В 1999 г. была проведена первая в истории дайвинг-экспедиция на Северный полюс. Клубная команда открыла тримикс-дайвинг на Палау, первой в России стала проводить тримикс-сафари по Красному морю и дайвинг-круизы у берегов Антарктиды. Участники клубных экспедиций стали практически первыми российскими аквалангистами в Папуа-Новой Гвинее, Мозамбике, Юго-Восточной Индонезии, на Фиджи, Соломонах и даже на популярных нынче островах Бразерс и Роки в Красном море. С 1998 г. в Клубе активно развивается и продвигается технический дайвинг. Первые тримикс-дайверы по стандартам TDI были обучены именно в Подводном клубе МГУ.
      .history__middle-swiper-container
        .swiper.history__middle-swiper
          .swiper-wrapper
            for index in [1, 2, 3, 4, 1]
              .swiper-slide.history__middle-swiper-slide
                .history__middle-img-block
                  picture
                    source(srcset=`./images/history-middle-${index}.webp`, type="image/webp")
                    img(src=`./images/history-middle-${index}.jpg`, alt="Фото")
        .history__middle-swiper-btns
          button.btn-reset.swiper-button-prev.history__middle-swiper-button-prev(type="button")
            svg.prev
              use(href="./images/sprite.svg#next")
            svg.prev-active
              use(href="./images/sprite.svg#next-active")
          button.btn-reset.swiper-button-next.history__middle-swiper-button-next(type="button")
            svg.next
              use(href="./images/sprite.svg#next")
            svg.next-active
              use(href="./images/sprite.svg#next-active")
    .history__bottom
      .history__bottom-content
        .history__bottom-content-img-block
          picture
            source(srcset="./images/history-bottom-1.webp", type="image/webp")
            img(src="./images/history-bottom-1.jpg", alt="Фото")
        .history__bottom-text
          h4.fourth-title.history__block-title В 2006 году в компанию пришли задорные выпускники Психолого-педагогического университета
          .history__text
            .history__paragraph и работа с детьми и подростками вышла на новый профессиональный уровень, выделившись в отдельное направление. Сейчас в RuDIVE есть детская спортивная секция, детский клуб, разнообразное меню детско-подростковых курсов и поездок в дни школьных каникул, включая детские образовательные программы на Белом и Красном морях, на Мальдивах, Филиппинах, в Подмосковье и в московском "Крокус Сити Океанариуме".
            .history__paragraph В 2006 Дмитрий Орлов становится PADI курс-директором, а Подводный клуб МГУ приобретает наиболее высокий статус PADI 5* IDC DC, который позволяет проводить обучение дайвинг-инструкторов. С тех пор группа RuDIVE стала кузницей профессионалов дайвинга, чьи выпускники работают инструкторами в дайв-центрах по всему миру.
      .history__bottom-images
        for index in [2, 3, 4, 5]
          .history__bottom-img-block
            picture
              source(srcset=`./images/history-bottom-${index}.webp`, type="image/webp")
              img(src=`./images/history-bottom-${index}.jpg`, alt="Фото")
