-
  const oceanariumsInfoCards = [
    { title: 'Купить подарочный сертификат',
      button: 'Купить',
    },
    { title: 'Забронировать погружение в Москвариуме',
      button: 'Забронировать',
      class: 'moskvarium'
    },
    { title: 'Забронировать погружение в Крокус Сити Океанариуме',
      button: 'Забронировать',
      class: 'crocus-city'
    }
  ]
section.section.oceanariums-info
  .container.oceanariums-info__container
    for card, index in oceanariumsInfoCards
      .oceanariums-info__cards-block
        h4.fourth-title.numbered-title.oceanariums-info__title= card.title
        .oceanariums-info__card
          .oceanariums-info__card-img-block
            picture
              source(srcset=`./images/oceanariums-info-${index + 1}.webp`, type="image/webp")
              img(src=`./images/oceanariums-info-${index + 1}.jpg`, alt='Фото')
          if index == 0
            button.btn-reset.btn.oceanariums-info__card-btn(type='button', data-modal="modal-certificate")= card.button
          else
            button.btn-reset.btn.oceanariums-info__card-btn(class=card.class, type='button', data-modal="modal-book")= card.button
