-
  const pricesAc = {
    1: [
      'Быстрый старт',
      'Пробное погружение с аквалангом (PADI Discover Scuba Diving)',
      [
        {
          itemTitle: 'Пробное погружение в бассейне',
          itemText: 'Одно погружение с инструктором',
          itemPrice: '3 900 ₽',
        },
        {
          itemTitle: 'Пробное погружение в "Крокус Сити Океанариуме"',
          itemText: 'Два погружения с инструктором: первое учебное в бассейне, второе в океанариуме. Стоимость зависит от времени и дня недели погружения',
          itemPrice: '11 400 - 13 400 ₽',
        },
        {
          itemTitle: 'Пробное погружение в "Москвариуме"',
          itemText: 'Два погружения с инструктором: первое учебное в бассейне, второе в океанариуме. Стоимость зависит от времени и дня недели погружения',
          itemPrice: '11 400 - 13 400 ₽',
        },
        {
          itemTitle: 'Пробное погружение в Подмосковье',
          itemText: 'Включает услуги инструктора, полный комплект снаряжения для дайвинга, пользование инфраструктурой дайв-центра',
          itemPrice: '5 000 ₽',
        },
        {
          itemTitle: 'Дополнительное занятие с инструктором (индивидуально)',
          itemText: 'Дополнительное занятие в бассейне с инструктором (индивидуально)',
          itemPrice: '3 000 ₽',
        },
        {
          itemTitle: 'Консультация психолога',
          itemText: 'Боязнь воды, страхи, мешающие обучению дайвингу и др. Продолжительность 1 час',
          itemPrice: '3 000 ₽',
        },
      ]
    ],
    2: [
      'Начальный курс дайвинга',
      'Open Water Diver',
      [
        {
          itemTitle: 'Тариф "Дневной" (занятия по будням днём, группа от 5 человек)',
          itemText: '4 лекции + 5 тренировок в бассейне + 3 уникальных занятия онлайн (психологический тренинг для дайверов, лекция про опасных морских животных, лекция по географии дайвинга и окружающей среде), Referral Card. Учебные материалы не входят в стоимость тарифа и оплачиваются отдельно',
          itemPrice: '15 500 ₽',
        },
        {
          itemTitle: 'Тариф "Стандартный" (занятия по будням вечером или в выходные, в группе 3-4 человека)',
          itemText: '4 лекции + теоретический экзамен + 5 тренировок в бассейне + 3 уникальных занятия онлайн (психологический тренинг для дайверов, лекция про опасных морских животных, лекция по географии дайвинга и окружающей среде), учебные материалы, Referral Card',
          itemPrice: '25 500 ₽',
        },
        {
          itemTitle: 'Тариф "Парный" (индивидуальный график для двоих)',
          itemText: '4 лекции + теоретический экзамен + 5 тренировок в бассейне + 3 уникальных занятия онлайн (психологический тренинг для дайверов, лекция про опасных морских животных, лекция по географии дайвинга и окружающей среде). Индивидуальный график, Referral Card, учебные материалы. Указанная стоимость за одного человека',
          itemPrice: '28 500 ₽',
        },
        {
          itemTitle: 'Тариф "Индивидуальный" (индивидуальный график для одного курсанта)',
          itemText: '4 лекции + теоретический экзамен + 5 тренировок в бассейне + 3 уникальных занятия онлайн (психологический тренинг для дайверов, лекция про опасных морских животных, лекция по географии дайвинга и окружающей среде). Индивидуальный график, Referral Card, учебные материалы',
          itemPrice: '35 500 ₽',
        },
        {
          itemTitle: 'Ваш личный инструктор по дайвингу в дайвинг-путешествии',
          itemText: 'Вы можете выбрать инструктора для индивидуального сопровождения в путешествии. Уровень вашей дайвинг-подготовки не имеет значения. Вы будете погружаться под его руководством и проходить дайвинг-курсы в индивидуальном режиме.',
          itemPrice: '1500 у. е.',
        },
      ]
    ],
    3: [
      'Занятие с инструктором с целью освежить свои навыки по дайвингу "Вспомнить всё"',
      'PADI Reactivate (Scuba Review)',
      [
        {
          itemTitle: 'PADI Reactivate (Scuba Review)',
          itemText: 'Программа для сертифицированных аквалангистов после длительного перерыва в погружениях, одно занятие с инструктором в бассейне. С 10-летнего возраста.',
          itemPrice: '3 900 ₽',
        },
      ]
    ],
    4: [
      'Продолжение обучения после PADI OWD, вторая ступень вашего дайвинг-мастерства',
      'Продвинутый курс по дайвингу (PADI Advanced Open Water Diver)',
      [
        {
          itemTitle: 'В Подмосковье (30 км от Москвы, по выходным. Для вашей безопасности на одного инструктора приходится не больше двух курсантов во время погружений)',
          itemText: 'Лекции + учебник + погружения в Подмосковье + аренда снаряжения (аренда сухого костюма оплачивается дополнительно)',
          itemPrice: '23 500 ₽',
        },
        {
          itemTitle: 'На море',
          itemText: 'Лекции + учебник + погружения на море',
          itemPrice: '17 500 ₽',
        },
        {
          itemTitle: 'Курс первой помощи Emergency First Response (EFR)',
          itemText: 'Включено: лекционно-практическое занятие (общее время в среднем 8 часов), учебник EFR',
          itemPrice: '14 500 ₽',
        },
      ]
    ],
    5: [
      'Третья ступень вашего дайвинг-мастерства. Курс "Дайвер-спасатель"',
      'Rescue Diver',
      [
        {
          itemTitle: 'Стандартный',
          itemText: 'Включено: 5 блоков теории, 2-3 занятия в бассейне, учебник PADI, карманная маска для оказания первой помощи, упражнения на открытой воде',
          itemPrice: '37 500 ₽',
        },
      ]
    ],
    6: [
      'Высшая ступень любительского дайвинга. PADI Master Scuba Diver',
      'PADI Master Scuba Diver',
      [
        {
          itemTitle: 'Стандарт',
          itemText: 'Для получения статуса достаточно квалификации PADI Rescue Diver, сертификации по пяти любым специализациям и 50 зарегистрированных погружений. Оформим для вас в офисе RuDIVE в любое время. ',
          itemPrice: '0 ₽',
        },
      ]
    ],
    7: [
      'Первая профессиональная ступень в дайвинге. PADI Divemaster',
      'PADI Divemaster',
      [
        {
          itemTitle: 'Курс',
          itemText: 'Включено: 12-14 лекций, 12-14 занятий в бассейне. Не включено: интернатура, членский взнос PADI, материалы PADI',
          itemPrice: '42 500 ₽',
        },
        {
          itemTitle: 'Практика в открытой воде в поездках с RuDIVE',
          itemText: 'Включено: работа инструктора в течение недели с дайвмастером. Ассистирование на курсах, кураторство, проведение необходимых погружений. Не включено: стоимость поездки',
          itemPrice: '19 500 ₽',
        },
        {
          itemTitle: 'Полный комплект материалов к курсу PADI Divemaster ',
          itemText: 'Учебник PADI Divemaster и форма-заявление с голографической наклейкой, энциклопедия любительского дайвинга PADI, рабочая тетрадь по теории дайвинга, руководство для инструктора PADI печатная версия, дополнительно электронный планировщик RDP',
          itemPrice: '25 000 ₽',
        },
      ]
    ],
    8: [
      'Дополнительные курсы по дайвингу, расширяющие ваши возможности',
      'Погружения с судов (PADI Boat Diver)',
      [
        {
          itemTitle: 'В Подмосковье',
          itemText: '1 лекция + 2 погружения в Подмосковье + учебник',
          itemPrice: '12 500 ₽',
        },
        {
          itemTitle: 'На море',
          itemText: '1 лекция + 2 погружения в море',
          itemPrice: '9 500 ₽',
        },
      ]
    ],
    9: [
      'Подводная фотография и видеосъемка',
      'Стандарт',
      [
        {
          itemTitle: 'Начальный курс подводной фотографии',
          itemText: '3 лекционно-практических занятия, одно занятие в бассейне, учебник',
          itemPrice: '15 000 ₽',
        },
        {
          itemTitle: 'Подводный видеооператор',
          itemText: '3 лекции, 3 погружения',
          itemPrice: '18 000 ₽',
        },
      ]
    ],
    10: [
      'Погружения без акваланга на задержке дыхания. Фридайвинг',
      'Разовая тренировка в бассейне',
      [
        {
          itemTitle: 'В дайв-центре на Лодочной',
          itemText: 'Бассейн на севере Москвы',
          itemPrice: '1 500 ₽',
        },
        {
          itemTitle: 'В дайв-центре "Азовский"',
          itemText: 'Бассейн на юге Москвы',
          itemPrice: '1 900 ₽',
        },
      ]
    ],
    11: [
      'Выгодное предложение. Курс-пакеты.',
      'При единовременной покупке двух и более курсов вы получаете скидку 10% (без учета материалов и сертификатов)',
      [
        {
          itemTitle: 'Продвинутый курс PADI AOWD + курс погружений в сухом костюме PADI Dry Suit Diver',
          itemText: 'В курс-пакет входит: 4 лекции, 1 погружение в бассейне, 6 погружений в Подмосковье, 2 учебника, аренда сухого костюма во время обучения',
          itemPrice: '38 000 ₽',
        },
        {
          itemTitle: 'Курс "Дайвер-спасатель" PADI Rescue Diver + курс первой помощи EFR',
          itemText: '2 практических занятия, 5 лекций, 10 упражнений в открытой воде + учебники',
          itemPrice: '45 500 ₽',
        },
        {
          itemTitle: 'Курс погружений в сухом костюме PADI Dry Suit + курс подледных погружений PADI Ice Diver',
          itemText: 'Лекции, учебник курса Dry Suit, практика в бассейне, погружения на открытой воде и под лед, аренда дайвинг-оборудования',
          itemPrice: '36 000 ₽',
        },
      ]
    ],
    12: [
      'Детский дайвинг (PADI)',
      'Курсы подводного плавания для детей',
      [
        {
          itemTitle: 'Знакомство с аквалангом. Программа Bubblemaker',
          itemText: 'Для детей 8-10 лет, три двухчасовых занятия в бассейне',
          itemPrice: '13 500 ₽',
        },
        {
          itemTitle: 'Индивидуальное занятие',
          itemText: 'Для детей 8-10 лет, двухчасовое занятие в бассейне',
          itemPrice: '4 500 ₽',
        },
        {
          itemTitle: 'Курс погружений на задержке дыхания "Собиратели жемчуга"',
          itemText: 'Для детей с 8 лет. 2 лекции и 4 практических занятия в бассейне',
          itemPrice: '25 500 ₽',
        },
        {
          itemTitle: 'Начальный курс дайвинга PADI Junior Open Water Diver',
          itemText: 'Для детей с 10 лет: 6 лекций, 6 погружений в бассейне',
          itemPrice: '27 500 ₽',
        },
      ]
    ],
    13: [
      'Стань профессионалом',
      'Стандарт',
      [
        {
          itemTitle: 'PADI Instructor Development Course',
          itemText: 'Инструкторский курс для дайв-мастеров и инструкторов других федераций. Включено: занятия теорией, практика в бассейне, практика на открытой воде в Подмосковье. Инструкторские материалы и экзамен оплачиваются отдельно',
          itemPrice: '82 500 ₽',
        },
      ]
    ],
    14: [
      'Технический дайвинг',
      'Стандарт',
      [
        {
          itemTitle: 'PADI Discover Tec',
          itemText: 'Включено: теоретическая часть, пробное техническое погружение в бассейне, аренда технического снаряжения.',
          itemPrice: '5 000 ₽',
        },
        {
          itemTitle: 'PADI Tec Basic',
          itemText: 'Включено: теоретические занятия, 2 практики в бассейне, 2 погружения в открытой воде.',
          itemPrice: '33 500 ₽',
        },
        {
          itemTitle: 'PADI Tec Basic плюс',
          itemText: 'Включено: теоретические занятия, 2 практики в бассейне, 4 погружения в открытой воде.',
          itemPrice: '37 500 ₽',
        },
      ]
    ],
    15: [
      'Дайвинг в пещерах*',
      '*Обращаем ваше внимание, что перед поступлением на курсы пещерного дайвинга инструктор проводит индивидуальное теоретическое и практическое занятие в бассейне (4-5 часов) с кандидатом, направленное на оценку навыков подводного плавания, и в дальнейшем согласовывает необходимость дополнительных занятий для оттачивания навыков плавучести перед прохождением курсов пещерного дайвинга. Эти занятия оплачиваются отдельно и их количество зависит от базового уровня кандидата. Стоимость одного занятия с инструктором (4-5 часов) 7000 рублей.',
      [
        {
          itemTitle: 'PADI Cavern Diver + Intro to Cave Diver',
          itemText: 'Включено: 5 дней и один день в резерве при поездке к пещере на неделю. Дополнительно оплачиваются все накладные расходы инструктора и свои. Возможно индивидуальное участие, в паре, в тройке. Накладные расходы инструктора делятся соответственно между участниками курса. Оплачивается дополнительно: аренда снаряжения при необходимости (как правило, курсанты погружаются в своем снаряжении), сертификаты, учебные материалы (по желанию), выезд на открытую воду.',
          itemPrice: '60 500 ₽',
        },
        {
          itemTitle: 'Full Cave Diver',
          itemText: 'Включено: 6 часов теории (2 занятия), четыре дня погружений в открытой воде (8 погружений в надголовной среде). Не включено: аренда снаряжения, сертификат, учебные материалы, выезд на открытую воду',
          itemPrice: '55 000 ₽',
        }
      ]
    ],
    16: [
      'Дайвинг с использованием ребризера',
      'Всё включено',
      [
        {
          itemTitle: 'Первое погружение в ребризером PADI Discover Rebreather.',
          itemText: 'Продолжительность программы 1 день. Включено: 2 теоретических занятия (сведения по эксплуатации ребризера и инструктаж + 1 погружение в закрытой воде (бассейн), аренда всего оборудования и расходных материалов.',
          itemPrice: '8 000 ₽',
        },
        {
          itemTitle: 'PADI Rebreather Qualifier',
          itemText: 'Продолжительность от двух дней (при желании растянуть курс на большее количество дней, стоимость курса увеличится соответственно на стоимость дополнительной аренды оборудования). Включено: 4 теоретических занятия + 1 погружение в закрытой воде (бассейн) + 3 погружения в открытой воде, аренда всего оборудования и расходных материалов.',
          itemPrice: '30 900 ₽',
        },
      ]
    ],
    17: [
      'Авторские мастер-классы',
      'Разные направления',
      [
        {
          itemTitle: 'Начальный курс подводной фотографии А. Аристархова',
          itemText: '5 лекций + 5 практических занятий в воде',
          itemPrice: '21 000 ₽',
        },
        {
          itemTitle: 'Авторская программа Н. Бараночниковой по нейтральной плавучести',
          itemText: '25 часов теории и практики в бассейне, съемка каждого занятия и разбор видео',
          itemPrice: '35 000 ₽',
        },
      ]
    ],
    18: [
      'Сертификат и пропуск в бассейн',
      'Пропуск в бассейн для сертифицированного дайвера (С предоставлением снаряжения)',
      [
        {
          itemTitle: 'В дайв-центре на Лодочной',
          itemText: 'Бассейн на севере Москвы',
          itemPrice: '1 700 ₽',
        },
        {
          itemTitle: 'В дайв-центре "Азовский"',
          itemText: 'Бассейн на юге Москвы',
          itemPrice: '1 500 ₽',
        },
      ]
    ],
  }
.prices.section-bottom
  .container
    ul.list-reset.accordion-list
      for ac, key in pricesAc
        li.accordion.prices__accordion
          button.btn-reset.btn.accordion__trigger.prices__trigger(aria-expanded="false")
            span.accordion__header.prices__header
              svg
                use(href=`./images/sprite.svg#prices-icon-${key}`)
              span.prices__header-title= ac[0]
            span.accordion__icon
              span.accordion__icon-line
          .accordion__content.prices__content(aria-hidden="true")
            .prices__card
              .prices__card-top
                span.prices__card-title= ac[1]
                .prices__card-block
                  button.btn-reset.btn.prices__card-btn.prices__card-btn--accent(type='button', data-modal='modal-reg-training') Записаться
                  a.link-btn.prices__card-link(href='#') Подробнее
              ul.list-reset.prices__card-list
                for item in ac[2]
                  li.prices__card-item
                    .prices__card-item-title= item.itemTitle
                    .prices__card-item-text= item.itemText
                    .prices__card-item-price= item.itemPrice
                    button.btn-reset.btn.prices__card-item-btn(type='button', data-modal='modal-buy') Купить
