-
  const reportsCards = [
    {src: "./images/reports-1", type: "image"},
    {src: "./images/reports-2", type: "video", dataSrc: "https://www.youtube.com/embed/agdEOQiNfkc?si=J17C6Gob5ckhAEA3?rel=0&showinfo=0&autoplay=1"},
    {src: "./images/reports-3", type: "image"},
    {src: "./images/reports-4", type: "image"},
    {src: "./images/reports-5", type: "video", dataSrc: "https://www.youtube.com/embed/agdEOQiNfkc?si=J17C6Gob5ckhAEA3?rel=0&showinfo=0&autoplay=1"},
    {src: "./images/reports-6", type: "image"},
    {src: "./images/reports-7", type: "video", dataSrc: "https://www.youtube.com/embed/agdEOQiNfkc?si=J17C6Gob5ckhAEA3?rel=0&showinfo=0&autoplay=1"},
    {src: "./images/reports-8", type: "image"},
    {src: "./images/reports-9", type: "image"},
    {src: "./images/reports-10", type: "video", dataSrc: "https://www.youtube.com/embed/agdEOQiNfkc?si=J17C6Gob5ckhAEA3?rel=0&showinfo=0&autoplay=1"}
  ]
section.section.reports
  .container
    h3.third-title.numbered-title.reports__title Фото и видео репортажи
    .reports__text Наша команда профессиональных инструкторов и гидов обеспечит вам безопасность и комфорт во время каждого погружения.
  .container-fluid.reports__container-fluid
    .reports__btns
      ul.list-reset.reports__list
        for item, index in ['Все', 'Фото', 'Видео']
          li
            if index == 0
              button.btn-reset.btn.reports__btn.reports__btn--active(type="button")= item
            else
              button.btn-reset.btn.reports__btn(type="button")= item
      .swiper.mobile-swiper.reports__swiper(data-mobile="false")
        .swiper-wrapper.reports__swiper-wrapper
          for value, index in ['Путешествия к большим животным', 'Дайвинг сафари', 'Экотуризм', 'Дайвинг в России', 'Корпоративные программы']
            .swiper-slide.reports__swiper-slide
              button.btn-reset.btn.reports__btn(type="button", data-tab=`reports-tab-${index + 1}`)= value
  .container
    .reports__card-block
      for card in reportsCards
        if card.type == "image"
          .reports__card
            picture
              source(srcset=`${card.src}.webp`, type="image/webp")
              img(src=`${card.src}.jpg`, alt="Дайвинг")
        else
          .reports__card.video
            .video__container
              picture.video__bg
                source(srcset=`${card.src}.webp`, type="image/webp")
                img(src=`${card.src}.jpg`, alt="Дайвинг")
              .video__body
                .video__content(data-src=card.dataSrc)
              button.btn-reset.video__play-btn(type="button")
                svg
                  use(href="./images/sprite.svg#pleer")
    button.btn-reset.transparent-btn.reports__more-btn(type="button") Загрузить еще

