-
  const scheduleFilters = [
    {
      title: 'Вид тура', placeholder: 'Любой',
      dropdown: [
        'Любой', 'Дайвинг с акулами', 'Дайвинг с дельфинами', 'Дайвинг с китами', 'Дайвинг-сафари', 'Дейли-дайвинг'
      ],
    },
    {
      title: 'Регион', placeholder: 'Любой',
      dropdown: [
        'Любой', 'Колумбия', 'Африка', 'Индийский океан', 'Красное море', 'Мальдивы', 'Россия', 'Карибское море', 'Океания'
      ],
    },
    {
      title: 'Суда, отели, базы', placeholder: 'Любой',
      dropdown: [
        'Любой', 'Судно Atlantis Azores', 'Судно Black Pearl', 'Судно Maldiviana', 'Судно Neo', 'Судно Капитан Кусто'
      ],
    },
    {
      title: 'Турлидер', placeholder: 'Любой',
      dropdown: [
        'Любой', 'Наталья Бараночникова', 'Ирина Квасова', 'Екатерина Кусачёва', 'Дмитрий Орлов', 'Алексей Побожаков', 'Андрей Павлов'
      ],
    },
    {
      title: 'Месяц', placeholder: 'Любой',
      dropdown: [
        'Любой', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'
      ],
    },
    {
      title: 'Сортировать по', placeholder: 'Дата заезда',
      dropdown: [
        'Дата заезда', 'Цена'
      ],
    },
    {
      title: 'Порядок', placeholder: 'По возрастанию',
      dropdown: [
        'По возрастанию', 'По убыванию'
      ],
    },
  ];
  const scheduleCards = [
    {
      title: 'Дайвинг с мантами и акулами на Мальдивах', price: 'от 1 900 $', date: '21 сентября - 1 октября',
      leader: 'Екатерина Кусачёва', instructor: 'Екатерина Кусачёва',
    },
    {
      title: 'Дайвинг с дельфинами на Красном море', price: 'от 1 900 $', date: '29 июня - 6 июля',
      leader: 'Дмитрий Орлов', instructor: 'Дмитрий Орлов',
    },
    {
      title: 'Дайвинг-сафари в Колумбии', price: 'от 18 000 $', date: '29 октября - 20 ноября',
      leader: 'Дмитрий Орлов', instructor: 'Дмитрий Орлов',
    },
    {
      title: 'Дайвинг с китами в Индийском океане', price: 'от 3 450 $', date: '11 мая - 19 мая',
      leader: 'Ирина Квасова', instructor: 'Ирина Квасова',
    },
    {
      title: 'Дайвинг-сафари на Красном море', price: 'от 1 350 $', date: '27 апреля - 4 мая',
      leader: 'Андрей Павлов', instructor: 'Андрей Павлов',
    },
    {
      title: 'Дайвинг с акулами в ЮАР', price: 'от 3 100 $', date: '15 июня - 25 июня',
      leader: 'Наталья Бараночникова', instructor: 'Наталья Бараночникова',
    },
    {
      title: 'Дайвинг в России на острове Монерон', price: 'от 340 000 руб.', date: '1 августа - 11 августа',
      leader: 'Наталья Бараночникова', instructor: 'Наталья Бараночникова',
    },
    {
      title: 'Дайвинг с акулами в Карибском море', price: 'от 4 000 $', date: '29 октября - 20 ноября',
      leader: 'Алексей Побожаков', instructor: 'Алексей Побожаков',
    },
    {
      title: 'Дайвинг с китами в Индийском океане', price: 'от 5 500 $', date: '1 мая - 16 мая',
      leader: 'Екатерина Кусачёва', instructor: 'Екатерина Кусачёва',
    },
    {
      title: 'Дейли-дайвинг в Океании', price: 'от 8 500 $', date: '14 сентября - 29 сентября',
      leader: 'Дмитрий Орлов', instructor: 'Дмитрий Орлов',
    },
  ]
.section.schedule
  .container
    .schedule__text
      .schedule__paragraph Клубные поездки — групповые путешествия во главе с клубным турлидером под флагом RuDIVE. Мы заранее выбираем направление поездки, лучший сезон, яхту или отель с дайвинг-центром и рассчитываем программу, исходя из нашего многолетнего опыта в дайвинг-путешествиях по всему миру.
      .schedule__paragraph Плюсы поездок с клубом: выверенная программа, интересная компания, новые и старые друзья, участие турлидера — инструктора PADI, который обеспечивает безопасность, учебный процесс, клубную атмосферу, решение проблем на суше и под водой. Расписание клубных дайвинг-туров динамично меняется в силу новых идей и возможностей, в него постоянно добавляются новые поездки. Мы стараемся планировать расписание групповых туров на год вперед.
    .schedule__filters-block
      for item, index in scheduleFilters
        .schedule__filter
          span.schedule__filter-title= item.title
          .select(id=`schedule-select-${index + 1}`)
            button.btn-reset.btn.select__input.schedule__filter-select-btn(type="button")
              span.select__current= item.placeholder
              svg.select__arrow
                use(href="./images/sprite.svg#arrow-down")
            .select__dropdown
              ul.list-reset.select__list(data-simplebar)
                for value in item.dropdown
                  li.select__item(tabindex="0")= value
      button.btn-reset.btn.schedule__filter-btn(type='button') Применить фильтр
    .schedule__cards-block
      for card, index in scheduleCards
        if index === 1
          .schedule__card
            .schedule__card-img-block
              picture
                source(srcset=`./images/schedule-${index + 1}.webp`, type="image/webp")
                img(src=`./images/schedule-${index + 1}.jpg`, alt="Фото")
            .schedule__card-content
              .schedule__card-content-title= card.title
              .schedule__card-content-price
                svg
                  use(href="./images/sprite.svg#wallet")
                = card.price
              .schedule__card-content-bottom
                .schedule__card-content-bottom-block
                  svg
                    use(href="./images/sprite.svg#schedule-calendar")
                  =card.date
                .schedule__card-content-bottom-block
                  svg
                    use(href="./images/sprite.svg#leader")
                  |Турлидер:&nbsp;
                  =card.leader
                .schedule__card-content-bottom-block
                  svg
                    use(href="./images/sprite.svg#tour-guide")
                  |Инструктор:&nbsp;
                  =card.instructor
            .schedule__card-btns
              button.btn-reset.btn.white-btn.schedule__card-btn.schedule__card-btn--active(type="button", data-modal='modal-book') Забронировать
              a.link-btn.schedule__card-link(href='#') Подробнее
        else if index < 5
          .schedule__card
            .schedule__card-img-block
              picture
                source(srcset=`./images/schedule-${index + 1}.webp`, type="image/webp")
                img(src=`./images/schedule-${index + 1}.jpg`, alt="Фото")
            .schedule__card-content
              .schedule__card-content-title= card.title
              .schedule__card-content-price
                svg
                  use(href="./images/sprite.svg#wallet")
                = card.price
              .schedule__card-content-bottom
                .schedule__card-content-bottom-block
                  svg
                    use(href="./images/sprite.svg#schedule-calendar")
                  =card.date
                .schedule__card-content-bottom-block
                  svg
                    use(href="./images/sprite.svg#leader")
                  |Турлидер:&nbsp;
                  =card.leader
                .schedule__card-content-bottom-block
                  svg
                    use(href="./images/sprite.svg#tour-guide")
                  |Инструктор:&nbsp;
                  =card.instructor
            .schedule__card-btns
              button.btn-reset.btn.white-btn.schedule__card-btn(type="button", data-modal='modal-book') Забронировать
              a.link-btn.schedule__card-link(href='#') Подробнее
        else if index >= 5
          .schedule__card.none
            .schedule__card-img-block
              picture
                source(srcset=`./images/schedule-${index - 4}.webp`, type="image/webp")
                img(src=`./images/schedule-${index - 4}.jpg`, alt="Фото")
            .schedule__card-content
              .schedule__card-content-title= card.title
              .schedule__card-content-price
                svg
                  use(href="./images/sprite.svg#wallet")
                = card.price
              .schedule__card-content-bottom
                .schedule__card-content-bottom-block
                  svg
                    use(href="./images/sprite.svg#schedule-calendar")
                  =card.date
                .schedule__card-content-bottom-block
                  svg
                    use(href="./images/sprite.svg#leader")
                  |Турлидер:&nbsp;
                  =card.leader
                .schedule__card-content-bottom-block
                  svg
                    use(href="./images/sprite.svg#tour-guide")
                  |Инструктор:&nbsp;
                  =card.instructor
            .schedule__card-btns
              button.btn-reset.btn.white-btn.schedule__card-btn(type="button", data-modal='modal-book') Забронировать
              a.link-btn.schedule__card-link(href='#') Подробнее



