-
  const cardsTours = [
    {date: "21 сентября — 1 октября", title: "Дейли-дайвинг на Бали: в поисках мола-мола"},
    {date: "6 октября — 11 октября", title: "Дайвинг на Голубом озере Церик-Кёль"},
    {date: "28 октября – 5 ноября", title: "Дайвинг с акулами и мантами на Мальдивах"},
    {date: "4 ноября – 11 ноября", title: "Дайвинг-сафари в Египте: острова Бразерс"},
    {date: "6 ноября — 17 ноября", title: "Сеноты Юкатана, наземные экскурсии в городе майя"},
    {date: "18 ноября — 4 декабря", title: "Наблюдения за королевскими и золотоволосыми пингвинами"},
    {date: "24 ноября – 3 декабря", title: "Пуэрто Галера, остров Верде. Макромир. Ночные погружения"},
    {date: "2 декабря – 9 декабря", title: 'Морские нацпарки Рас Мохаммед и Тиран, рэк "Тистлегорм"'}
  ]
  const cardsCourses = [
    {date: "Пн. 30 октября", title: "Junior Open Water Diver (с 10 лет)"},
    {date: "Пн. 30 октября", title: "Divemaster"},
    {date: "Пн. 30 октября", title: "Enriched Air Diver"},
    {date: "Пн. 30 октября", title: "Junior Advanced Open Water Diver"},
    {date: "Пн. 30 октября", title: "Emergency First Response"},
    {date: "Пн. 30 октября", title: "Junior Open Water Diver (с 10 лет)"},
    {date: "Пн. 30 октября", title: "Divemaster"},
    {date: "Пн. 30 октября", title: "Enriched Air Diver"},
  ]
section.tours.tabs-block
  .tours__container-fluid
    .tours__tabs
      .tours__tabs-btns.tabs
        h3.third-title.numbered-title.tours__tabs-title
          button.btn-reset.tabs__btn.tours__btn.tours__btn--active(type="button", data-tab="tours-tab-1") Горячие туры
        h3.third-title.numbered-title.tours__tabs-title
          button.btn-reset.tabs__btn.tours__btn(type="button", data-tab="tours-tab-2") Дайвинг курсы
  .container
    .tours__tab.tab.tours__tab--active#tours-tab-1
      for card, index in cardsTours
        .tours__tab-card
          .tours__tab-card-img-block
            picture
              source(srcset=`./images/tours-${index + 1}.webp` type="image/webp")
              img.tours__tab-card-img(src=`./images/tours-${index + 1}.jpg` alt="Дайвинг")
            .tours__tab-card-sticker=card.date
          .tours__tab-card-title=card.title
      a.link-btn.tours__tabs-link(href="./schedule.html") Все туры
    .tours__tab.tab#tours-tab-2
      for card, index in cardsCourses
        .tours__tab-card
          .tours__tab-card-img-block
            picture
              source(srcset=`./images/tours-${index + 1}.webp` type="image/webp")
              img.tours__tab-card-img(src=`./images/tours-${index + 1}.jpg` alt="Дайвинг")
            .tours__tab-card-sticker=card.date
          .tours__tab-card-title=card.title
      a.link-btn.tours__tabs-link(href="./courses.html") Все курсы
