-
  const tourismCards = [
    {title: 'Клубные поездки с турлидером', alt: 'Клубные поездки', href: '#'},
    {title: 'Индивидуальный туризм', alt: 'Индивидуальный туризм', href: '#'},
    {title: 'Корпоративные программы', alt: 'Корпоративные программы', href: '#'},
    {title: 'Дайвинг-сафари', alt: 'Дайвинг-сафари', href: '#'},
    {title: 'Экотуризм', alt: 'Экотуризм', href: '#'},
    {title: 'Путешествия к большим животным', alt: 'Путешествия к большим животным', href: '#'},
    {title: 'Каталог путешествий', alt: 'Каталог путешествий', href: '#'},
    {title: 'Наши направления', alt: 'Наши направления', href: '#'},
    {title: 'Каталог яхт и курортов', alt: 'Каталог яхт и курортов', href: '#'},
  ]
.page-main-section.tourism.section-top
  .container
    h3.third-title.page-third-title.tourism__title Выбираем стиль поездки
    .tourism__text Отдых с группой единомышленников, в хорошей компании с клубным турлидером, или в индивидуальном порядке. Или даже поехать трудовым коллективом и поставить перед туром бизнес-цели.
    .page-main-section__container
      for card, index in tourismCards
        .page-main-section__card
          .page-main-section__card-img-block
            picture
              source(srcset=`./images/tourism-${index + 1}.webp`, type="image/webp")
              img(src=`./images/tourism-${index + 1}.jpg`, alt=card.alt)
          .page-main-section__card-bottom
            a.link.page-main-section__card-title-link.tourism__card-title-link(href=`./${card.href}.html`)= card.title
            a.link.page-main-section__card-link(href=`./${card.href}.html`)
              svg
                use(href="./images/sprite.svg#link")
